DB_STRING="postgresql+psycopg2://username:password@db:5432/yourdb"
ALEMBIC_DB_URL="postgresql+psycopg2://username:password@db:5432/yourdb"
DEBUG=True
EMAIL_APP_PASSWORD="key"
APP_EMAIL_ADDRESS="email@yourdomain.com"
EMAIL_TEMPLATES_PATH="assets/templates/email/"

PG_USER = "dbadmin"
PG_PASSWORD = "password"
PG_DATABASE = "yourdb"

FRONTEND_PORT=3002
BACKEND_PORT=8002

NEXT_PUBLIC_API_URL=http://localhost:8000
